substitutions:
  platform: ESP8266
  board: esp8285
#  arduino_version: 2.4.2
  esp8266_restore_from_flash: "FALSE" # "TRUE" / "FALSE" !!! Make sure that all switches, lights, fans, globals, etc... are set to ALWAYS_ON/OFF to minimize flash write cycles
  
##############################################################
#   Sonoff Basic
##############################################################
# Green LED : GPIO13
# Button:   : GPIO00
# Relay     : GPIO12
# Spare IO  : GPIO14
##############################################################

status_led:
  pin:
    number: GPIO13
    inverted: True

binary_sensor:
  - platform: gpio
    pin:
      number: GPIO0
      mode: INPUT_PULLUP
      inverted: True
    name: "${friendly_name} Button"
    on_press:
      - switch.toggle: relay
    on_click:
      - min_length: ${reset_hold_min}s
        max_length: ${reset_hold_max}s
        then:
          - switch.turn_on: restart_device

switch:
  - platform: gpio
    name: "${friendly_name} Relay"
    pin: GPIO12
    id: relay
